<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">All Contacts</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/"><%=  current_user && current_user.name %></a></li>
            <li class="active"><a href="/contacts/new">Add New Contact <span class="sr-only">(current)</span></a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <% if current_user %>
                    <li><a href="/logout">Log Out</a></li>
                <% else %>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                <% end %>
              </ul>
            </li>
          </ul>

       <ul class="nav navbar-nav">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by Group<span class="caret"></span></a>
              <ul class="dropdown-menu">
                
              <% Group.all.each do |group| %>
                <li><a href="/?group_id=<%= group.id %>"><%=group.name%></a></li>
              <% end%>     
              </ul>
            </li>
            </ul>

          <ul class="navbar-form navbar-right">
            <%= form_tag "/contacts", method: :get, class: "navbar-form navbar-right" do %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search_term"> <!-- adding the name search_term allows the input to go into the string param into the search bar now no matter what you type-->
                <button type="submit" class="btn btn-default">Submit</button> 
              </div>
          <% end %>
          </ul>
         
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <p><a href="/contact/new">New Contact</a></p>

    <div class="container">
        <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
            
        </div>
        <% end %>

        <%= yield %>

    </div>

  </body>
</html>
    
